# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/

# IDE
.idea/
.vscode/

# Logs
*.log

# Fichiers de configuration locaux
.env
.env.local

# MongoDB
data/db/
